/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}


*{
    margin: 0;
    padding: 0;
    outline: none;
    list-style: none;
    border: none;
    text-decoration: none;

    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body {
	background: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #2B2B2B;
}   
img {
    max-width: 100%;
    height: auto;
}
a {color: #2B2B2B;}

.c-gray {color: #9D9D9D;}

.d-flex {display: flex;}

.empty-box {
    height: 0;
    margin: 0!important;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-start {
    display: flex;
    justify-content: flex-start;
}
.flex-end {
    display: flex;
    justify-content: flex-end;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.align-start {
    display: flex;
    align-items: flex-start;
}
.align-end {
    display: flex;
    align-items: flex-end;
}
.align-center {
    display: flex;
    align-items: center;
}
.flex-b {
    display: flex;
    justify-content: space-between;
}
.flex-a {
    display: flex;
    justify-content: space-around;
}
.tx-left {text-align: left;}
.tx-right {text-align: right;}
.tx-center {text-align: center;}

.tx-sm {
    font-weight: 400;
    font-size: 18px;
}
.tx-md {
    font-weight: 600;
    font-size: 20px;
}
.tx-lg {
    font-weight: bold;
    font-size: 28px;
    
}
.tx-xl {
    font-weight: 800;
    font-size: 32px;
}

.hidden-desktop {display: none;}

/* icon */
 .icon {
    display: inline-block;
    vertical-align: middle;
 }

.ic-logo {
    display: inline-block;
    vertical-align: middle;
    background: url(../img/icon/ic-logo.svg) no-repeat;
    width: 49px;
    height: 36px;
}

.ic-location {
    display: inline-block;
    vertical-align: middle;
    background: url(../img/icon/ic-map-pin.svg) no-repeat;
    width: 22px;
    height: 24px;
}
.ic-location-white {
    display: inline-block;
    vertical-align: middle;
    background: url(../img/icon/ic-map-pin-white.svg) no-repeat;
    width: 22px;
    height: 24px;
}

.ic-cart {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 23px;
    background: url(../img/icon/ic-cart.svg) no-repeat center;
}

.ic-user {
    display: inline-block;
    vertical-align: middle;
    width: 17px;
    height: 22px;
    background: url(../img/icon/ic-user.svg) no-repeat center;
}
.ic-user-white {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 21px;
    background: url(../img/icon/ic-user-white.svg) no-repeat;
}

.ic-inst {background-image: url(../img/icon/ic-inst.svg);}
.ic-vk {background-image: url(../img/icon/ic-vk.svg);}
.ic-twit {background-image: url(../img/icon/ic-twit.svg);}
.ic-fb {background-image: url(../img/icon/ic-fb.svg);}

.btn {
    display: inline-flex;
    justify-content: center;
    padding: 17px 32px;
    background: #FFCC00;
    box-shadow: 0px 20px 40px rgba(255, 204, 0, 0.25);
    border-radius: 6px;
    font-weight: bold;
    line-height: 22px;
}
.btn:hover {
    background: #FFDD57;
    box-shadow: 0px 20px 40px rgba(255, 204, 0, 0.25);
}

.center {
    max-width: 1265px;
    padding: 0 20px;
    margin: 0 auto;
}
/*  SLIDER
------------------------------------------------- */
.slick-arrow {
    font-size: 0;
    width: 48px;
    height: 48px;
    background: #fff;
    border-radius: 50%;
    border: 2px solid #E6E6E6;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    position: absolute;
    z-index: 1;
}
.slick-arrow:hover {
    background-color: #FFDD57;
    border-color: #FFDD57;
    box-shadow: 0px 10px 25px rgba(255, 204, 0, 0.3);
}

.slick-prev {background-image: url(../img/icon/ic-slick-prev.svg);}
.slick-next {background-image: url(../img/icon/ic-slick-next.svg);}

.slick-dots {
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.slick-dots li {
    width: 8px;
    height: 8px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
}
.slick-dots li.slick-active {
    width: 12px;
    height: 12px;
    background: #FFCC00;
}
.slick-dots li + li {margin-left: 8px;}

.slick-dots li button {font-size: 0!important;}

/*  POPUP
------------------------------------------------- */
.popup-overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(43, 43, 43, 0.5);
  z-index: -900;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.popup-overlay.active {
  opacity: 1;
  z-index: 500;
}

.popup {    
    position: fixed;
    left: 50%;
    top: 50%;   
    transform: translate(-50%, -50%);
    z-index: -9999991;
    transition: all 0.5s ease;
    opacity: 0;
}
.popup.active {
    z-index: 9999991;
    opacity: 1;
}

.main-popup {
    padding: 40px;
    background: #fff;
    max-width: 500px;
    width: 100%;
    border-radius: 10px;
}

.popup-close {
    position: absolute;
    top: 23px;
    right: 23px;
    width: 25px;
    height: 25px;
    background: url(../img/icon/ic-close.svg) no-repeat center;
}
.popup-close:hover {background-color: #b3aaaa61;}
/*  POPUP-MAP
------------------------------------------------- */
.popup-map {
    max-width: 910px;
}
.popup-map .popup-title {margin-bottom: 24px;}
.popup-map .address {
    font-weight: bold;
    padding-left: 28px;
    background: url(../img/icon/ic-map-pin.svg) no-repeat center left;
}
.popup-map .flex {margin-top: 24px;} 
.popup-map .error {
    padding: 17px 20px 17px 52px;
    border-radius: 6px;
    position: absolute;
    top: -140px;
    right: -140px;
    font-weight: 600;
    color: #fff;
    background: #F03536 url(../img/icon/ic-error.svg) no-repeat center left 20px;
}

/*  POPUP-OPTIONS
------------------------------------------------- */
.popup-options {
    max-width: 810px;
    padding-left: 96px;
    padding-right: 104px;
    padding-bottom: 25px;
    overflow: hidden;
}

.popup-options .product-name {
    font-weight: 800;
    font-size: 32px;
    margin-bottom: 12px;
}

.popup-options .product-img {
    min-width: 243px;
    margin-right: 32px;
}

.popup-options .product-dscr {
    font-size: 14px;
    line-height: 150%;
    color: #9D9D9D;
    font-weight: 400;
    padding-right: 10px;

}

.popup-options .box-top {position: relative;}

.popup-options .box-top:after {
    content: '';
    display: block;
    width: 150%;
    height: 1px;
    background: #D9D9D9; 
    position: absolute;
    bottom: -24px;
    left: -150px;
}

.product-options h6 {
    font-size: 16px;
    font-weight: 600;
    color: #9D9D9D;
}
.product-options h6 {
    margin-top: 50px;
    margin-bottom: 12px;
}

.product-options .price {font-size: 20px;}

.form-options .check span {font-size: 14px;}

.form-options .check-sel {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   margin-top: 16px;
}

.form-options .check {
    display: flex;
    align-items: center;
    min-width: 33.3%;
    padding-right: 10px;
    margin-bottom: 16px;
}

.form-options .empty-block {min-width: 33.3%;}

.product-options .box-bottom {
    position: relative;
    margin-top: 50px;
}

.popup-options .box-bottom:after {
    content: '';
    display: block;
    width: 150%;
    height: 1px;
    background: #D9D9D9; 
    position: absolute;
    top: -24px;
    left: -150px;
}

.product-options .box-bottom h6 {
    margin-top: 0;
    margin-bottom: 0;
}

.cart-counter {
    padding: 17px;
    min-width: 116px;
    background: #F5F5F5;
    border-radius: 3px;
}

.counter-minus {
    cursor: pointer;
    width: 14px;
    height: 2px;
    background: url(../img/icon/ic-counter-minus.svg) no-repeat center;
}

.counter-plus {
    cursor: pointer;
    width: 14px;
    height: 14px;
    background: url(../img/icon/ic-counter-plus.svg) no-repeat center;
}

.cart-counter .counter {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    background: #F5F5F5;

}
.product-options .cart-counter {
    margin-left: auto;
    margin-right: 24px;
}

/*  FORM
------------------------------------------------- */
input[type="file"] {display: none;}

.form-style input[type="text"],
.form-style input[type="tel"],
.form-style input[type="email"],
.form-style input[type="password"],
.form-style input[type="search"],
.form-style .select,
.form-style textarea {
    width: 100%;
    padding: 17px 20px;
    border: 2px solid #D9D9D9;
    border-radius: 6px;
    font-weight: 400;
    font-size: 16px;
    color: #9D9D9D;

}

.form-style input::-moz-placeholder {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #9D9D9D;
}
.form-style input::-webkit-input-placeholder {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #9D9D9D;
}
.form-style input:-moz-placeholder {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #9D9D9D;
}
.form-style input:-ms-input-placeholder {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #9D9D9D;
}
/*.form-style input:focus::placeholder {
    color: #ED0909;
}
*/
.form-style input[type="checkbox"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    background: #FFFFFF;
    border: 1px solid #9D9D9D;
    border-radius: 3px;
    min-width: 24px;
    min-height: 24px;
    margin-right: 8px;
    cursor: pointer;
}
.form-style input[type="checkbox"]:hover {
    border: 2px solid #FFCC00;
}

.form-style input[type="checkbox"]:checked {
    border: none;
    background: #FFCC00 url(../img/icon/ic-check.svg) no-repeat center;
}

.form-style input[type="radio"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    background: #FFFFFF;
    border: 1px solid #E5E7EA;
    border-radius: 3px;
    min-width: 20px;
    min-height: 20px;
    height: 100%;
    margin-right: 10px;
    cursor: pointer;
}


/*  HEADER
------------------------------------------------- */
.header {
    padding: 18px 0;
    background: #F5F5F5;
}

.header .ic-logo {
    margin-right: 25px;
    line-height: 0;
    display: block;
}

.header .ic-location {margin-right: 8px;}

.header .menu ul {display: flex;}
.header .menu li + li {margin-left: 32px;}

.header .menu li a {
    font-size: 16px;
    font-weight: 600;
}
.header .menu li a:hover {color: #FFCC00;}

.header .ic-user {margin: 0 47px 0 35px;}

.header .right a:hover {outline: 2px solid #FFCC00;}

.header .btn-burger {
    width: 18px;
    height: 16px;
    cursor: pointer;
    background: url(../img/icon/ic-btn-burger.svg) no-repeat;
}

/*  MENU-LEFT
------------------------------------------------- */
.close-burger {
    width: 20px;
    height: 20px;
    cursor: pointer;
    background: url(../img/icon/ic-close-burger.svg) no-repeat;
    margin-right: auto;
}

.header .box-top a {
   color: #fff;
   font-size: 16px;
}
.header .box-top a span {margin-left: 8px;}

.header .box-top a:nth-child(3) {margin-left: 28px;}

.header .menu-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 345px;
    min-width: 345px;
    padding: 26px 40px 40px 40px;
    background: #B8022B;
    position: fixed;
    top: 0;
    bottom: 0;
    right: -400px;
    transition: all 0.3s ease;
    z-index: 999;
}

.header .menu-left.active {right: 0;}

.header .menu-left li + li {margin-top: 25px;}
.header .menu-left li a {
    font-size: 24px;
    color: #fff;
    font-weight: bold;
}
.header .menu-left li a:hover {color: #FFCC00;}

.social-box a {
    display: block;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
}
.social-box a:hover {
    background-color: #FFCC00;
}

/*  HOME-SLIDER
------------------------------------------------- */
.home-slider {position: relative;}

.home-slider .slick-prev {
    top: 50%;
    left: 7.5%;
    transform: translateY(-50%);
}
.home-slider .slick-next {
    top: 50%;
    right: 7.5%;
    transform: translateY(-50%);
}

.home-slider ul img {
    display: block;
    width: 100%;
}

.home-slider .slick-dots {bottom: 24px;}

/*  DELIVERY
------------------------------------------------- */
.delivery {margin: 90px 0 55px 0;}

.delivery h2 {
    font-size: 52px;
    line-height: 52px;
}

.delivery .form-search {
    max-width: 545px;
    width: 100%;
    margin: 0 20px;
}

.form-search input[type="search"] {
    padding-left: 50px;
    background: url(../img/icon/ic-map-pin.svg) no-repeat center left 20px;
}
.form-search input[type="search"]:focus {
    border-color: #FFCC00;
    background: url(../img/icon/ic-search.svg) no-repeat center left 20px;
}

.delivery .box {min-width: 455px;}

.delivery .box .item {padding-left: 66px;}

.delivery .box .item:first-child {
    background: url(../img/icon/ic-time.svg) no-repeat center left;
}

.delivery .box .item:last-child {
    background: url(../img/icon/ic-moped.svg) no-repeat center left;
}

.delivery .box .item:last-child br:nth-child(1) {display: none;}

/*  CATALOG-CATEGORY 
------------------------------------------------- */
.catalog-category {margin-bottom: 48px;}
.catalog-category ul {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #E6E6E6;
    padding-bottom: 16px;
}
.catalog-category ul li {
    position: relative;
}

.catalog-category ul li.active:after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: #F03536;
    position: absolute;
    left: 0;
    bottom: 0;
    margin-bottom: -17px;
}

.catalog-category ul li:hover:after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: #F03536;
    position: absolute;
    left: 0;
    bottom: 0;
    margin-bottom: -17px;
}
.catalog-category ul li a {
    font-size: 20px;
    display: block;
    width: 100%;
}
.catalog-category ul li a:hover {color: #F03536;}
.catalog-category ul li.active a {color: #F03536;}

/*  CATALOG-PRODUCT 
------------------------------------------------- */
.catalog-product .center {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product {
    display: flex;
    flex-direction: column;
    min-width: 23.5%;
    width: 23.5%;
    padding: 29px 30px 33px 30px;
    background: #F5F5F5;
    border-radius: 7px;
    margin-bottom: 24px;
}

.catalog-product .empty-box {
    min-width: 23.5%;
    width: 23.5%;
}

.product .box {margin-top: auto;}

.product .product-name {
    font-weight: 600;
    font-size: 20px;
    color: #9D9D9D;
    margin: 26px 0 21px 0;
}
.product .product-name:hover {color: #000;}

.price {
    font-weight: 600;
    font-size: 24px;
}

.cart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: url(../img/icon/ic-cart.svg) no-repeat center;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.07);
}
.cart:hover {
    background-color: #FFCC00;
    box-shadow: 0px 5px 15px rgba(255, 204, 0, 0.4);
}
/*  SLIDER-PRODUCT
------------------------------------------------- */
.page-home .slider-product {margin-top: 80px;}

.slider-product .title {
    font-weight: 800;
    font-size: 44px;
    margin-bottom: 40px;
    line-height: 40px;
}
.slider-product .product {
    margin-right: 0;
    width: 100%;
    margin-bottom: 0;
    min-height: 336px;
}
.slider-product .slick-slide {padding: 0 15px;}

.slider-product ul {
    margin-right: -15px;
    margin-left: -15px;
}
.slider-product ul li div {
    min-height: 100%;
}
.slider-product .slick-dots {
    bottom: -36px;
}

.slider-product .slick-dots li {background: #D9D9D9;}

.slider-product .slick-dots li.slick-active {background: #FFCC00;}

.slider-product .slick-prev {
    top: -88px;
    right: 80px;
}

.slider-product .slick-next {
    top: -88px;
    right: 10px;
}

/*  FOOTER 
------------------------------------------------- */
.footer {
    padding: 40px 0;
    background: #F5F5F5;
}

.page-home .footer {margin-top: 115px;}

.footer .ic-logo {margin-right: 10px;}

.footer ul li + li {margin-left: 32px;}

.footer ul li a {
    font-weight: 600;
    color: #9D9D9D;
}
.footer ul li a:hover {
    border-bottom: 1px solid #000;;
}

.footer .right span {
    display: block;
    color: #9D9D9D;
    margin-bottom: 2px;
}

.footer .tel {
    display: block;
    font-size: 20px;
}
.footer .tel:hover {color: #FFDD57;}
.footer .social-box {
    position: relative;
    max-width: 330px;
    width: 100%;
    padding: 0 30px;
    background: #F5F5F5;
}

.footer .box-bottom {
    position: relative;
    margin-top: 12px;
}

.footer .box-bottom:before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 0;
    background: #D9D9D9;
}

/*************************
*******PAGE-404******
**************************/
.page-error {padding: 56px 0 102px 0;}

.page-error .center {flex-direction: column;}

.page-error h1 {
    font-size: 40px;
    margin: 14px 0 12px 0;
}

.page-error h1 span {color: #F03536;}

.page-error p {
    line-height: 150%;
    margin-bottom: 40px;
}

/*************************
*******PAGE-NEWS******
**************************/
.news {padding-bottom: 50px;}

.news .title {
    font-weight: 800;
    font-size: 44px;
    margin: 80px 0 40px 0;
}

.news-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.news-wrap .item,
.news-wrap .empty-box {
    min-width: 32%;
    width: 32%;
    margin-bottom: 28px;
}

.news-wrap .img {
    border-radius: 7px;
    position: relative;
}

.news-wrap .item-date {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 8px 12px;
    background: rgba(43, 43, 43, 0.7);
    border-radius: 0px 7px;
}

.news-wrap .item-date span {
    font-size: 14px;
    color: #fff;
}

.news-wrap .img img {
    display: block;
    width: 100%;
} 

.news-wrap p {
    font-size: 18px;
    margin-top: 12px;
}


/*************************
*******PAGE-ACTION******
**************************/
.article .center {position: relative;}


.breadcrumbs {
    position: absolute;
    left: 150px;
}

.breadcrumbs a {
    padding-left: 25px;
    color: #9D9D9D;
    background: url(../img/icon/ic-close-arrow.svg) no-repeat center left;
}

.article .breadcrumbs a {position: fixed;}

.article .social-box {
    flex-direction: column;
    position: absolute;
    right: 145px;
    z-index: 10;
}

.article .social-box > div {position: fixed;}

.article .social-box a + a {margin-top: 10px;}

.article .wrap {
    max-width: 600px;
    margin: 40px auto 0 auto;
}

.article h1 {
    font-weight: 800;
    font-size: 32px;
    margin: 12px 0 32px 0;
}

.article .article-text {margin-bottom: 70px;}

.article .img img {display: block;}

.article .article-text p {
    font-size: 18px;
    margin-top: 30px;
}

.article h3 {
    font-weight: 800;
    font-size: 32px;
}

.see-all {
    font-weight: 600;
    color: #F03536;
}

.see-all:hover {text-decoration: underline;}

.article .news-wrap {margin-top: 32px;}

.article .box-bottom {margin-bottom: 50px;}



/* ---------------------------------------------- 
/*               MEDIA QUERI                      */
/* ---------------------------------------------- */
@media screen and (max-width: 1250px) {
    /*POPUP-MAP */ 
    .popup-map .error{
        right: 0;
        top: -100px;
    }
}

@media screen and (max-width: 1150px) {
    /*FOOTER*/ 
    .footer .wrap {flex-direction: column;}

    .footer .left,
    .footer .wrap ul {margin-bottom: 25px;}

    .footer .right span {
        text-align: center;
        margin-bottom: 5px;
    }

    .footer .box-bottom {margin-top: 25px;}
}

@media screen and (max-width: 1000px) {    
    /*DELIVERY*/ 
    .delivery .center {
        flex-direction: column;
        align-items: flex-start;
    }

    .delivery .form-search {
        max-width: 100%;
        margin: 20px 0 16px 0;
    }

    .delivery .box {
        width: 100%;
        min-width: inherit;
    }
    
    .delivery .box .item {padding: 10px 66px;}

    .delivery .box .item br {display: none;}

    /* CATALOG-PRODUCT */ 
    .catalog-product .product,
    .catalog-product .empty-box {
        min-width: 32%;
        width: 32%;
    }
    
    /* NEWS */ 
    .news-wrap .item,
    .news-wrap .empty-box {
        min-width: 48.5%;
        width: 48.5%;
    }

}

@media screen and (max-width: 768px) {
    .visible-mobile {display: block;}
    .hidden-mobile {display: none;}
    
    /*HEADER*/ 
    .header .ic-logo {margin-right: 0;}

    .header .menu-left {left: -400px;}

    .header .menu-left.active {left: 0;}
    
    .header .menu-left.active .close-burger {
        transform: rotate(180deg);
    }
    .header .box-top a {
        display: flex;
        align-items: center;
    }
    
    /* CATALOG-PRODUCT */ 
    .catalog-product .product,
    .catalog-product .empty-box {
        min-width: 49%;
        width: 49%;
    }
    
    .catalog-product .product {margin-bottom: 16px;}

    /*FOOTER*/
    .footer ul li a {font-size: 15px;}

}

@media screen and (max-width: 650px) {
    .center {padding: 0 16px;}
    /*HEADER*/ 
    .header .menu-left li a {font-size: 20px;}

    /*HOME-SLIDER*/ 
    .home-slider .slick-arrow {
        width: 35px;
        height: 35px;
    }

    /*DELIVERY*/ 
    .delivery .box .item {padding-right: 35px;}

    /* CATALOG-PRODUCT */ 
    .product {
        padding: 20px 12px;
        margin-bottom: 16px;
    }

    .product .product-name {
        font-size: 14px;
        margin: 8px 0;
    }
    .product .price {font-size: 20px;}
    .product .cart {
        width: 44px;
        height: 44px;
    }
    
    /*SLIDER-PRODUCT*/ 
    .page-home .slider-product {margin-top: 50px;}
    
    .slider-product .slick-slide {padding: 5px;}


    /*FOOTER*/
    .footer .wrap {align-items: flex-start;}

    .footer .wrap ul {
        flex-direction: column;
        align-items: flex-start;
    }
    .footer .wrap ul li {margin-left: 0;}

    .footer .wrap ul li + li {margin-top: 16px;}

    .footer .right span {text-align: left;}
    
    .footer .box-bottom {justify-content: center;}
    .footer .box-bottom:before {display: none;}
    .footer .social-box {
        padding: 0;
        max-width: 265px;
    }

    /* NEWS */ 
    .news-wrap .item,
    .news-wrap .empty-box {
        min-width: 100%;
        width: 100%;
    }

    .news .title {
        font-weight: 800;
        font-size: 32px;
        margin: 32px 0;
    }
}

@media screen and (max-width: 500px) {
    .main-popup {padding-top: 20px;}
    /*POPUP-MAP */ 
    .popup-map {
        padding: 17px 16px;
        border-radius: inherit;
    }
    .popup-map .img {
        margin-left: -24px;
        margin-right: -24px;
    }
    .popup-map .flex {
        flex-direction: column;
        align-items: flex-start;
    }
    .popup-map .flex .btn {
        margin-top: 20px;
        width: 100%;
    }
    .popup-map .error {
        width: 100%;
        top: -55px;
    }

    /*HOME-SLIDER */ 
    .header .menu-left {
        max-width: 360px;
        width: 100%;
    }
  
    .home-slider:nth-child(2) {display: none;}
    .home-slider:nth-child(3) {display: block;}

    /*DELIVERY*/ 
    .delivery .box .item {
        padding-left: 37px;
        padding-right: 0;
        font-size: 13px;
        background-size: 28px 28px!important;
    }
    .delivery .box .item br {display: block;}

    .delivery .box .item:last-child br:nth-child(1) {display: block;}
    .delivery .box .item:last-child br:nth-child(2) {display: none;}
    
    /*CATALOG-CATEGORY*/ 
    .catalog-category ul li a {font-size: 15px;}

    /*PAGE-ERROR*/
    .page-error h1 {font-size: 32px;}
    .page-error p {margin-bottom: 32px;}

    /*ARTICLE*/
    .article .see-all {display: none;}

    .article .box-bottom {display: flex;}
    .article .box-bottom .see-all {display: block;}

}